body {
    font-family: 'Roboto', sans-serif;
    padding: 0 5%;
}

#main-title {
    margin-left: 100px;
}

.sub-title {
    display: block;
    width: 90%;
    margin-left: 30px;
}

.panel-hidden {
    display: block;
    width: 100%;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

.panel {
    display: block;
    margin: 10px;
    width: 100%;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding: 20px;
    overflow: hidden;
}

.panel:hover {
    background-color: #bdbdbd;
}

.panel-half {
    float: left;
    margin: 1%;
    width: 43%;
    background-color: #d1d1d1;
    border-radius: 15px;
    padding: 20px;
}

.panel-half:hover {
    background-color: #bdbdbd;
}

#temp {
    height: 600px;
}

#current-temp {
    padding-top: 140px;
    text-align: center;
    font-size: 30pt;
    line-height: 120%;
    height: 370px;
}

#last-update {
    float: right;
}

#history {
    height: 100%;
    overflow: auto;
}

#chart {
    display: block;
}

#computer-image {
    height: 280px;
}

#device-panel-left {
    padding: 20px;
    width: 50%;
    height: 300px;
    float: left;
}

#device-panel-right {
    padding: 20px;
    width: 30%;
    float: left;
    font-size: 20pt;
}

#computer-name {
    font-weight: bold;
}
